[package]
name = "busy_beaver_blaze"
version = "0.2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
ab_glyph = "0.2.29"
derive_more = { version = "2.0.1", default-features = false, features = [
    "debug",
    "display",
    "error",
    "from",
] }
png = "0.17.16"
thousands = "0.2.0"
wasm-bindgen = "0.2.100"

[dev-dependencies]
wasm-bindgen-test = "0.3.50"
image = "0.25.5"
imageproc = "0.25.0"
